# Docker ignore for SOURCE builds (includes dist folder)
# Use .dockerignore.original for NPM-based builds

**/node_modules

packages/server/.env
packages/ui/.env
.env
.env.local

.git
.gitignore
.github

.flowise
.turbo
coverage
*.log
