pydantic-settings
redis
pymongo
motor
docling
weaviate-client
python-dotenv
bullmq
colorama
protobuf
grpcio
loguru
beanie
aiohttp
openai
pdf2image
poppler-utils
pypdf
Pillow
minio
py7zr
rarfile
patool
